<div class="d-flex align-items-center justify-content-between flex-wrap mt-5 mb-4 border-bottom">
  <h2 class="section-title mb-4">{{ getFormTitle() }}</h2>
  <div class="d-flex gap-2 mb-3">
    <a class="btn btn-outline-secondary" routerLink="/gastos">Cancelar</a>
    <button type="button" class="btn btn-primary" (click)="savetransaction()" [disabled]="this.transactionsForm.invalid">Adicionar Transacao</button>
  </div>
</div>

<form class="mb-5" [formGroup]="transactionsForm" (ngSubmit)="savetransaction()">
  <div class="mb-3">
    <label for="typeInput" class="form-label">Tipo de gasto</label>
    <select formControlName="type" class="form-select {{ hasError('type') ? 'is-invalid' : '' }}" id="typeInput">
      <option value="" disabled selected>Selecione um tipo</option>
      <option value="receita">Receita</option>
      <option value="despesa">Despesa</option>
    </select>
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('type')">
      <span *ngSwitchCase="'required'">O campo tipo é requerido</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="amountInput" class="form-label">Quantidade gasta</label>
    <div class="input-group has-validation">
      <span class="input-group-text">$</span>
      <input type="number" formControlName="amount" class="form-control {{ hasError('amount') ? 'is-invalid' : '' }}" id="amountInput" placeholder="0.00">
      <div class="invalid-feedback" [ngSwitch]="getCurrentError('amount')">
        <span *ngSwitchCase="'required'">O campo quantidade é requerido</span>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="descriptionInput" class="form-label">Descrição</label>
    <textarea formControlName="description" class="form-control {{ hasError('description') ? 'is-invalid' : '' }}" id="descriptionInput" placeholder="Escreva uma descrição do gasto realizado"></textarea>
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('description')">
      <span *ngSwitchCase="'required'">O campo descrição é requerido</span>
    </div>
  </div>
  <div class="mb-3">
    <label for="transactionDateInput" class="form-label">Data do gasto</label>
    <input type="date" formControlName="expense_date" class="form-control {{ hasError('expense_date') ? 'is-invalid' : '' }}" id="transactionDateInput">
    <div class="invalid-feedback" [ngSwitch]="getCurrentError('expense_date')">
      <span *ngSwitchCase="'required'">O campo data é requerido</span>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="this.transactionsForm.invalid">Adicionar Transacao</button>
</form>
